@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
}


.carousel-img {
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.shadowCustom{
  box-shadow: 0px 3px 8px 0px #0B2A63;
}

@media (min-width: 1024px) {
  .test {
    right: -135px;
    top: 200px;

  }
 
  .number{
    font-size: 20px;
  }
  .testSection{
    width: 130px;
  }
  .orangeSquare{
    left: 0px;
    width: 130px !important;
    font-size: 15px;
  }
 .navWidth{
    max-width: 755px;
    /* margin-left: 60px; */
  }
  .navLine{
    padding-right: 350px;
  }
  .banner{
    width: 73.1%;
    margin-left: 140px;
  }
  .banner{
    max-width: 722px !important;
    margin-left: 155px;
  }

  .bannerWidth{
    width: 63.1% !important;
  }
  .bannerTExt{
    width: 100% !important;
    margin-top: -165px;
    margin-left: -30px !important;
  }
  .bannerHeading{
   padding-top: 20px;
   padding-left: 30px;
  }
  .bannerImg{
    width:70% !important;
    right: 20px !important;
   
  }
  .cardWidth{
    width: 100% !important;
    margin-left: 0px !important;

  }
  .cards{
    width: 125px !important;
  }
  .cardHeading{
    font-size: 13px !important;
  }
  .cardType{
    font-size: 8px;
  }

 
  .imgWidth{
    width: 749px !important;
    margin-left: 140px;
    margin-top: -10px !important;
    margin-bottom: 30px !important;
    
  }
 
  
  .brandWidth{
    max-width: 880px;
    margin-left: 62px;
  }
  .cardGrid{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .detailsWidth{
    max-width: 862px;
    margin-left: 80px;
  }
  .technology{
    max-width: 980px;
   
  }
  .footerWidth{
    /* width: 725px !important; */
  }
  .footerText{
    margin-right: 140px !important;
    margin-left: 140px !important; 
  }
}


@media (min-width: 1280px) {
  .test {
    right: -150px;
    top: 200px;

  }

  .number{
    /* font-size: 20px; */
  }
  .testSection{
    width: 145px;
  }
  .orangeSquare{
    /* left: 0px; */
    width: 145px !important;
    /* font-size: 15px; */
  }
 .navWidth{
    max-width: 980px;
    /* margin-right: 50px !important; */
  }
  .navLine{
    padding-right: 75px;
  }
  .banner{
    width: 60% !important;
    margin-left: 170px;
  }
  .childBanner{
    width: 131%;
  }
  .bannerWidth{
    width: 100% !important;
    margin-left: 0px;
  }
  .bannerRight{
    width: 50% !important;
  }
  .bannerTExt{
    width: 60% !important;
    margin-top: -100px;
  }
  .bannerHeading{
   /* padding-top: 20px; */
   /* padding-left: 30px; */
  }
  .bannerImg{
    width:65% !important;
    right: -110px !important;
   
  }
  .cardWidth{
    width: 131% !important;
    margin-left: 0px !important;

  }
  .cards{
    width: 158px !important;
  }
 
  .imgWidth{
    width: 978px !important;
    margin-left: 150px;
    
  }
  .brandWidth{
    max-width: 1110px;
    margin-left: 70px;
  }
  .cardGrid{
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  .detailsWidth{
    max-width: 1012px;
    margin-left: 97px;
  }
  .technology{
    max-width: 1113px;
    /* border :2px solid darkblue; */
    
   
  }
  .footerWidth{
    margin-right: 190px !important;
    margin-left: 190px !important; 
  }
  .footerText{
    margin-right: 150px !important;
    margin-left: 150px !important; 
  }
}

@media (min-width: 1360px) {
  .test {
    right: -150px;
    top: 200px;

  }

  .testSection{
    width: 145px;
  }
  .orangeSquare{
    
    width: 145px !important;
   
  }
 .navWidth{
    max-width: 1060px;
  }
  .navLine{
    padding-right: 75px;
  }
  .banner{
    width: 100% !important;
    margin-left: 125px;
  }
  .childBanner{
    width: 148.3%;
  }

  .bannerWidth{
    width: 70% !important;
    margin-left: 40px;
  }
  .bannerTExt{
    width: 60% !important;
    margin-top: -100px;
  }
  .bannerHeading{
  /* width: 130% !important; */
  }
  .heading1{
    font-size: 37px !important;
  }
  .heading2{
    font-size: 27px !important;
  }
  
  .bannerRight{
    width: 32% !important;
  }
  .cardWidth{
    width: 142.7% !important;
    margin-left: 41px !important;

  }
  .cards{
    width: 189px !important;
  }
  .cardSection2{
    margin-right: 343px !important;
   }
   .cardSection3{
    margin-right: 515px !important;
   }
   .cardSection4{
    margin-right: 685px !important;
   }
   .cardSection5{
    margin-right: 857px !important;
   }
 
  .imgWidth{
    width: 1058px !important;
    margin-left: 150px !important;
   }
   .brandWidth{
    max-width: 1210px;
    margin-left: 65px;
  }
  
  .detailsWidth{
    max-width: 1140px;
    margin-left: 40px;
  }
  .technology{
    max-width: 1171px;
    margin-left: 25px;
    /* border :2px solid darkblue; */
    
   
  }
  .footerWidth{
    margin-right: 300px !important;
    margin-left: 300px !important; 
  }
  .footerText{
    margin-right: 145px !important;
    margin-left: 145px !important; 
  }
}


@media (min-width: 1400px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1100px;
    
   
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    /* max-width: 1228px;
    margin-left: 75px; */
  }
  .childBanner{
    width: 153.9%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    width: 58% !important;
    padding-bottom: 30px;
 
    /* margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:0% !important; */
    right: -220px !important;
   
  }
  .cardWidth{
    width: 148.3% !important;
  }
 .cardSection2{
  margin-right: 356px !important;
 }
 .cardSection3{
  margin-right: 535px !important;
 }
 .cardSection4{
  margin-right: 713px !important;
 }
 .cardSection5{
  margin-right: 892px !important;
 }

 .imgWidth{
  width: 1098px !important;
  margin-left: 150px !important;
 }
  .brandWidth{
    max-width: 1280px;
    margin-left: 60px;
  }
 
 
  
  .detailsWidth{
    max-width: 1170px;
    margin-left: 60px;
  }
  .technology{
    max-width: 1201px;
    margin-left: 45px;
   
    
   
  }
  .footerWidth{
    margin-right: 320px !important;
    margin-left: 320px !important; 
   
   
  }
  .footerText{
    margin-right: 150px !important;
    margin-left: 150px !important; 
  }
  
}


@media (min-width: 1440px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1100px;
    margin-left: 147px;
  }
  .blackSquare{
    margin-right: 105px !important;
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    /* max-width: 1228px;
    margin-left: 24px; */
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important;
    right: -180px !important; */
   
  }
  .cardWidth{
    /* width: 94.9% !important;
    margin-left: 41px; */

  }
 
  .imgWidth{
    width: 1098px !important;
    margin-left: 150px !important;
   }
  .brandWidth{
    /* max-width: 1250px; */
  /* border :2px solid darkblue; */
  /* margin-left: 10px; */
  }
 
 
  
  .detailsWidth{
    /* max-width: 1170px;
    margin-left: 60px; */
  }
  .technology{
    /* max-width: 1201px;
    margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    /* width: 1071px !important;
    padding-left: 30px !important; */
   
   
  }
}

@media (min-width: 1600px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1235px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 100px; */
  }
  .blackSquare{
    margin-right: 95px !important;
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    max-width: 1124px;
    margin-left: 157px;
    
  }
  .childBanner{
    width: 173%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    padding-bottom: 40px ;
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .heading1{
    font-size: 43px !important;
  }
  .heading2{
    font-size: 31px !important;
  }
  .bannerImg{
    width:80% !important;
    right: -315px !important;
   
  }
  .cardWidth{
     width: 170% !important;
  }
  .cards{
    width: 201.3px !important;
  }
  .cardSection2{
    margin-right: 356px !important;
   }
   .cardSection3{
    margin-right: 535px !important;
   }
   .cardSection4{
    margin-right: 713px !important;
   }
   .cardSection5{
    margin-right: 892px !important;
   }
 
  .imgWidth{
    
    width: 1230.5px !important;
    margin-left: 187px !important;
   
   }
   .digitalImg{
    width: 1230px !important;
   }
   .brandWidth{
    max-width: 1610px;
    margin-left: 0px;
  }
 
 
  
  .detailsWidth{
    /* max-width: 1170px;
    margin-left: 60px; */
  }
  .technology{
    /* max-width: 1201px;
    margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    margin-right: 400px !important;
    margin-left: 400px !important; 
  }
  .footerText{
    margin-right: 250px !important;
    margin-left: 250px !important; 
  }
}
@media (min-width: 1680px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1235px;
    /* padding-left: 135px; */
  }
  .blackSquare{
    margin-right: 135px !important;
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    max-width: 1124px;
    margin-left: 197px;
    
  }
  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important;
    right: -180px !important; */
   
  }
  .cardWidth{
    /* width: 94.9% !important;
    margin-left: 41px; */

  }
 
  .imgWidth{
    
    /* width: 1230.5px !important; */
    margin-left: 227px !important;
   
   }
   /* .digitalImg{
    width: 1230px !important;
   } */
  .brandWidth{
    max-width: 1350px;
  margin-left: auto;
  }
 
 
  
  .detailsWidth{
    /* max-width: 1170px;
    margin-left: 60px; */
  }
  .technology{
    /* max-width: 1201px;
    margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    margin-right: 400px !important;
    margin-left: 400px !important; 
  }
  .footerText{
    margin-right: 280px !important;
    margin-left: 280px !important; 
  }
}

@media (min-width: 1884px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1265px;
    padding-left: 30px;
  }
  .blackSquare{
    margin-right: 219px !important;
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    max-width: 1124px;
    margin-left: 307px;
    
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important;
    right: -180px !important; */
   
  }
  .cardWidth{
    /* width: 94.9% !important;
    margin-left: 41px; */

  }
 
  .imgWidth{
    
    /* width: 1230.5px !important; */
    margin-left: 347px !important;
   
   }
   .brandWidth{
    max-width: 1610px;
    margin-left: auto;
    margin-right: auto;
  }
 
 
  
  .detailsWidth{
    /* max-width: 1170px;
    margin-left: 60px; */
  }
  .technology{
    /* max-width: 1201px;
    margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    margin-right: 500px !important;
    margin-left: 500px !important; 
  }
  .footerText{
    margin-right: 400px !important;
    margin-left: 400px !important; 
  }
}
@media (min-width: 1920px) {
  /* .test {
    right: -150px;
    top: 200px;

  } */

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1235px;
    /* padding-left: 255px; */
  }
  .blackSquare{
    margin-right: 255px !important;
  }
  /* .navLine{
    padding-right: 75px;
  } */
  .banner{
    max-width: 704.5px !important;
    margin-left: 347px;
    
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important;
    right: -180px !important; */
   
  }
  .cardWidth{
    width: 167.5% !important;
    margin-left: 40px;

  }
  .cardSection2{
    margin-right: 394px !important;
   }
   .cardSection3{
    margin-right: 590px !important;
   }
   .cardSection4{
    margin-right: 787px !important;
   }
   .cardSection5{
    margin-right: 982px !important;
   }
 
  .imgWidth{
    
    width: 1200.5px !important;
    margin-left: 375px !important;
   
   }
   .brandWidth{
    max-width: 1410px;
    margin-left: auto;
    margin-right: auto;
  }
 
 
  
  .detailsWidth{
    /* max-width: 1170px;
    margin-left: 60px; */
  }
  .technology{
    /* max-width: 1201px;
    margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    margin-right: 500px !important;
    margin-left: 500px !important; 
  }
  .footerText{
    margin-right: 400px !important;
    margin-left: 400px !important; 
  }
}
   
  