@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
}


.carousel-img {
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.shadowCustom{
  box-shadow: 0px 3px 8px 0px #0B2A63;
}

@media (min-width: 1024px) {
  .test {
    right: -135px;
    top: 120px;

  }
 
  .number{
    font-size: 20px;
  }
  .testSection{
    width: 130px;
  }
  .orangeSquare{
    left: 0px;
    width: 130px !important;
    font-size: 15px;
  }
 .navWidth{
    max-width: 755px;
    /* margin-left: 60px; */
  }
  .navLine{
    /* padding-right: 350px; */
    margin-left: 260px !important;
  }
  .banner{
    width: 73.6%;
    margin-left: 135px;
  }
  

  .bannerWidth{
    width: 63.1% !important;
  }
  .bannerTExt{
    width: 100% !important;
    margin-top: -165px;
    margin-left: -30px !important;
  }
  .bannerHeading{
   padding-top: 20px;
   padding-left: 30px;
  }
  .bannerImg{
    width:70% !important;
    right: 20px !important;
   
  }
  .cardWidth{
    width: 97% !important;
    margin-left: 10px !important;

  }
  .cards{
    width: 125px !important;
  }
  .cardHeading{
    font-size: 13px !important;
  }
  .cardType{
    font-size: 8px;
  }

 
  .imgWidth{
    width: 741px !important;
    margin-left: 135px;
    margin-top: -10px !important;
    margin-bottom: 30px !important;
    
  }
 
  
  .brandWidth{
    max-width: 880px;
    margin-left: 62px;
  }
  .cardGrid{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .detailsWidth{
    max-width: 848px;
    margin-left: 80px;
  }
  .technology{
    max-width: 975px;
   
  }

  .footerWidth{
    width: 719px !important;
    margin-left: 135px !important;
  }
  .footerText{
    margin-right: 140px !important;
    margin-left: 140px !important; 
  }
}


@media (min-width: 1280px) {
  .test {
    right: -150px;
    top: 50px;
   

  }

  .number{
  
  }
  .testSection{
    width: 145px;
 
  }
  .orangeSquare{
    /* left: 0px; */
    width: 145px !important;
    /* font-size: 15px; */
  }
 .navWidth{
    max-width: 970px;
    /* margin-right: 50px !important; */
  }
  .navLine{
    /* padding-right: 75px; */
    margin-left: 483px !important;
  }
  .banner{
    width: 56.6% !important;
    margin-left: 155px;
  }
  .childBanner{
    width: 131%;
  }
  .bannerWidth{
    width: 100% !important;
    margin-left: 0px;
  }
  .leftOnurodh{
    padding-top: 98px !important;
  }
  .bannerRight{
    width: 50% !important;
  }
  .bannerRightH2{
    font-size: 18px !important;
  }
  .bannerTExt{
    width: 60% !important;
    margin-top: -100px;
  }
  .bannerHeading{
   /* padding-top: 20px; */
   /* padding-left: 30px; */
  
  }
  .heading1{
    font-size: 30.5px !important;
  }
  .heading2{
    font-size: 22px !important;
  }
  .bannerImg{
    width:65% !important;
    right: -110px !important;
   
  }
  .cardWidth{
    width: 131.3% !important;
    margin-left: 10px !important;

  }
  .cards{
    width: 158px !important;
  }
  .cardType{
    font-size: 11px;
  }
  .cardHeading{
    font-size: 15px !important;
  }
  .cardSection2{
    margin-right: 313px !important;
   }
   .cardSection3{
    margin-right: 469.4px !important;
   }
   .cardSection4{
    margin-right: 626px !important;
   }
   .cardSection5{
    margin-right: 783px !important;
   }
 
  .imgWidth{
    width: 960px !important;
    margin-left: 155px;
    
  }
  .brandWidth{
    max-width: 1110px;
    margin-left: 70px;
  }
  .cardGrid{
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  .detailsWidth{
    max-width: 1068px;
    margin-left: 100px;
  }
  .technology{
    max-width: 1099px;
   margin-left: 85px;
    
   
  }
  .footerWidth{
    margin-right: 240px !important;
    margin-left: 240px !important; 
  }
  .footerText{
    margin-right: 150px !important;
    margin-left: 150px !important; 
  }
  .footerCard{
    width: 240px !important;
  }
  .dedicated{
    margin-left: 5px !important;
    margin-right: 0px !important;
  }
}

@media (min-width: 1360px) {
  .test {
    right: -150px;
    top: 100px;

  }

  .testSection{
    width: 145px;
  }
  .orangeSquare{
    
    width: 145px !important;
   
  }
 .navWidth{
    max-width: 1035px;
  }
  .navLine{
    /* padding-right: 75px; */
    margin-left: 560px !important;
  }
  .banner{
    width: 52.7% !important;
    margin-left: 120px;
  }
  .bannerImg{
    right: -190px !important;
  }
  .childBanner{
    width: 148.3%;
  }

  .bannerWidth{
    width: 70% !important;
    margin-left: 40px;
  }
  .bannerTExt{
    width: 60% !important;
    margin-top: -100px;
  }
  .bannerHeading{
  /* width: 130% !important; */
  }
  .heading1{
    font-size: 35.5px !important;
  }
  .heading2{
    font-size: 26px !important;
  }
  .leftOnurodh{
    padding-top: 115px !important;
  }
  .bannerRight{
    width: 32% !important;
  }
  .cardWidth{
    width: 142.8% !important;
    margin-left: 51px !important;

  }
  .cards{
    width: 189px !important;
  }
  .cardSection2{
    margin-right: 337px !important;
   }
   .cardSection3{
    margin-right: 506px !important;
   }
   .cardSection4{
    margin-right: 675px !important;
   }
   .cardSection5{
    margin-right: 843px !important;
   }
 
  .imgWidth{
    width: 1034px !important;
    margin-left: 160px !important;
   }
   .brandWidth{
    max-width: 1180px;
    margin-left: 75px;
  }
  
  .detailsWidth{
    max-width: 1141px;
    margin-left: 105px;
  }
  .technology{
    max-width: 1172px;
    margin-left: 90px;
    /* border :2px solid darkblue; */
    
   
  }
  .footerWidth{
    margin-right: 300px !important;
    margin-left: 300px !important; 
  }
  .footerText{
    margin-right: 145px !important;
    margin-left: 145px !important; 
  }
  .contact{
    margin-left: 168px !important;
  }
  .webHosting{
    margin-left: 15px !important;
  }
  .dedicated{
    margin-left: 10px !important;
  }
  .reseller{
    margin-left: 10px;
  }
}
@media (min-width: 1366px) {
  .test {
    right: -150px;
    top: 100px;

  }

  .testSection{
    width: 145px;
  }
  .orangeSquare{
    
    width: 145px !important;
   
  }
 .navWidth{
    max-width: 1035px;
  }
  .navLine{
    /* padding-right: 75px; */
    margin-left: 560px !important;
  }
  .banner{
    width: 52.7% !important;
    margin-left: 125px;
  }
  .bannerImg{
    right: -190px !important;
  }
  .childBanner{
    width: 147.4%;
  }

  .bannerWidth{
    width: 70% !important;
    margin-left: 40px;
  }
  .bannerTExt{
    width: 60% !important;
    margin-top: -100px;
  }
  .bannerHeading{
  /* width: 130% !important; */
  }
  .heading1{
    font-size: 35.5px !important;
  }
  .heading2{
    font-size: 25.8px !important;
  }
  
  .bannerRight{
    width: 32% !important;
  }
  .cardWidth{
    width: 142% !important;
    margin-left: 51px !important;

  }
  .cards{
    width: 189px !important;
  }
  .cardSection2{
    margin-right: 337px !important;
   }
   .cardSection3{
    margin-right: 506px !important;
   }
   .cardSection4{
    margin-right: 675px !important;
   }
   .cardSection5{
    margin-right: 843px !important;
   }
 
  .imgWidth{
    width: 1033px !important;
    margin-left: 164px !important;
   }
   .brandWidth{
    max-width: 1180px;
    margin-left: 75px;
  }
  
  .detailsWidth{
    max-width: 1141px;
    margin-left: 109px;
  }
  .technology{
    max-width: 1172px;
    margin-left: 92px;
    /* border :2px solid darkblue; */
    
   
  }
  .footerWidth{
    margin-right: 300px !important;
    margin-left: 300px !important; 
  }
  .footerText{
    margin-right: 145px !important;
    margin-left: 145px !important; 
  }
  .contact{
    padding-right:3px ;
    padding-left: 5px;
  }
  .webHosting{
    margin-left: 15px !important;
    margin-right: 4px !important;
  }
  .dedicated{
    margin-left: 15px !important;
    margin-right: 4px !important;
  }
  .reseller{
    margin-left: 15px;
    margin-right: 4px;
  }
}


@media (min-width: 1400px) {
  .test {
    right: -150px;
    top: 150px;

  }

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1090px;
    
   
  }
  .navLine{
    margin-left: 600px !important;
  }
  .banner{
    /* max-width: 1228px; */

    margin-left: 115px;
  }
  .childBanner{
    width: 150.2%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    width: 58% !important;
    padding-bottom: 30px;
 
    /* margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .leftOnurodh{
    padding-top: 97px !important;
  }
  .bannerImg{
    /* width:0% !important; */
    right: -220px !important;
   
  }
  .cardWidth{
    width: 145% !important;
  }
  .cardType{
    font-size: 12px;
  }
  .cardHeading{
    font-size: 17px !important;
  }
 .cardSection2{
  margin-right: 353px !important;
 }
 .cardSection3{
  margin-right: 529px !important;
 }
 .cardSection4{
  margin-right: 705px !important;
 }
 .cardSection5{
  margin-right: 881px !important;
 }

 .imgWidth{
  width: 1079px !important;
  margin-left: 155px !important;
 }
  .brandWidth{
    max-width: 1180px;
    margin-left: auto;
  }
 
 
  
  .detailsWidth{
    max-width: 1187px;
    margin-left: 99px;
  }
  .technology{
    max-width: 1215px;
    margin-left: 85px;
   
    
   
  }
  .footerWidth{
    margin-right: 320px !important;
    margin-left: 320px !important; 
   
   
  }
  .footerText{
    margin-right: 150px !important;
    margin-left: 150px !important; 
  }
  .contact{
    padding-right:0px ;
    padding-left: 0px;
    
  }
  .webHosting{
    margin-left: 5px !important;
    margin-right: 1px !important;
  }
  .dedicated{
    margin-left: 5px !important;
    margin-right: 1px !important;
  }
  .reseller{
    margin-left: 5px !important;
    margin-right: 1px !important;
  }
}


@media (min-width: 1440px) {
  .test {
    right: -150px;
    top: 50px;

  }

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1125px;
    margin-left: 146px;
  }
 
  .navLine{
    margin-left: 633px !important;
  }
  .banner{
    /* max-width: 1228px;
    margin-left: 24px; */
  }
  .childBanner{
    width: 150.8%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .heading1{
    font-size: 37px !important;
  }
  .heading2{
    font-size: 27px !important;
  }
  .bannerImg{
    /* width:60% !important; */
    right: -236px !important;
   
  }
  .cardWidth{
    width: 145.6% !important;
    margin-left: 41px;

  }
  .cardSection2{
    margin-right: 364px !important;
   }
   .cardSection3{
    margin-right: 545px !important;
   }
   .cardSection4{
    margin-right: 727px !important;
   }
   .cardSection5{
    margin-right: 909px !important;
   }
 
  .imgWidth{
    width: 1116px !important;
    margin-left: 154px !important;
   }
  .brandWidth{
    /* max-width: 1250px; */
  /* border :2px solid darkblue; */
  /* margin-left: 10px; */
  }
 
 
  
  .detailsWidth{
    max-width: 1223px;
    /* margin-left: 60px; */
  }
  .technology{
    max-width: 1253px;
    /* margin-left: 45px; */
   
    
   
  }
  .footerWidth{
    /* width: 1071px !important;
    padding-left: 30px !important; */
   
   
  }
  .contact{
    padding-right:4px ;
    padding-left: 0px;
  }
  .webHosting{
    margin-left: 10px !important;
    margin-right: 4px !important;
  }
  .dedicated{
    margin-left: 10px !important;
    margin-right: 4px !important;
  }
  .reseller{
    margin-left: 10px !important;
    margin-right: 4px !important;
  }
}

@media (min-width: 1600px) {
  .test {
    right: -150px;
    top: 50px;

  }

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1125px;
    margin-left: auto;
  }
 
  .navLine{
    margin-left: 633px !important;
  }
  .banner{
    /* max-width: 1228px; */
    margin-left: 194px;
  }
  .childBanner{
    width: 135.7%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .cardType{
    font-size: 13px;
  }
  .cardHeading{
    font-size: 17px !important;
  }
  .bannerImg{
    /* width:60% !important; */
    right: -240px !important;
   
  }
  .cardWidth{
    width: 131% !important;
    margin-left: 41px;

  }
  .cardSection2{
    margin-right: 364px !important;
   }
   .cardSection3{
    margin-right: 545px !important;
   }
   .cardSection4{
    margin-right: 727px !important;
   }
   .cardSection5{
    margin-right: 909px !important;
   }
 
  .imgWidth{
    width: 1116px !important;
    margin-left: 233.5px !important;
   }
  .brandWidth{
    /* max-width: 1250px; */
  /* border :2px solid darkblue; */
  /* margin-left: 10px; */
  }
  .contact{
    padding-right:85px ;
    padding-left: 75px;
  }
 
 
  
  .detailsWidth{
    max-width: 1223px;
    margin-left: 180px;
  }
  .technology{
    max-width: 1253px;
    margin-left: 164.5px;
   
    
   
  }
  .footerWidth{
    width: 871px !important;
    /* padding-left: 30px !important; */
   
   
  }
  .footerText{
    margin-right: 205px !important;
    margin-left: 205px !important; 
  }
  .footerCard{
    width: 280px !important;
  }
  .webHosting{
    margin-left: -135px !important;
    margin-right: -139px !important;
  }
  .dedicated{
    margin-left: -135px !important;
    margin-right: -139px !important;
  }
  .reseller{
    margin-left: -135px !important;
    margin-right: -139px !important;
  }
}


@media (min-width: 1680px) {
  .test {
    right: -150px;
    top: 150px;

  }

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1125px;
    margin-left: auto;
  }
 
  .navLine{
    margin-left: 633px !important;
  }
  .banner{
    /* max-width: 1228px; */
    margin-left: 236px;
  }
  .childBanner{
    width: 128.9%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important; */
    right: -240px !important;
   
  }
  .cardWidth{
    width: 124.5% !important;
    margin-left: 41px;

  }
  .cardSection2{
    margin-right: 364px !important;
   }
   .cardSection3{
    margin-right: 545px !important;
   }
   .cardSection4{
    margin-right: 727px !important;
   }
   .cardSection5{
    margin-right: 909px !important;
   }
 
  .imgWidth{
    width: 1116px !important;
    margin-left: 275px !important;
   }
  .brandWidth{
    /* max-width: 1250px; */
  /* border :2px solid darkblue; */
  /* margin-left: 10px; */
  }
 
 
  
  .detailsWidth{
    max-width: 1223px;
    margin-left: 220px;
  }
  .technology{
    max-width: 1253px;
    margin-left: 203.5px;
   
    
   
  }
  .footerWidth{
    width: 991px !important;
    padding-left: 20px !important;
   
   
  }
  .footerText{
    margin-right: 205px !important;
    margin-left: 205px !important; 
  }
  .footerCard{
    width: 300px !important;
  }
  .contact{
    padding-right:124px ;
    padding-left: 115px;
  }
  .webHosting{
    margin-left: -95px !important;
    margin-right: -100px !important;
  }
  .dedicated{
    margin-left: -95px !important;
    margin-right: -100px !important;
  }
  .reseller{
    margin-left: -95px !important;
    margin-right: -100px !important;
  }
}


@media (min-width: 1920px) {
  .test {
    right: -150px;
    top: 200px;

  }

  /* .testSection{
    width: 145px;
  } */
  /* .orangeSquare{
   
    width: 145px !important;
  
  } */
 .navWidth{
    max-width: 1125px;
    margin-left: auto;
  }
 
  .navLine{
    margin-left: 633px !important;
  }
  .banner{
    /* max-width: 1228px; */
    margin-left: 350px;
  }
  .childBanner{
    width: 113.3%;
  }

  .bannerWidth{
    /* width: 64.4% !important;
    margin-left: 40px; */
  }
  .heading1{
    font-size: 37.5px !important;
  }
  .heading2{
    font-size: 27.5px !important;
  }
  .bannerTExt{
    /* width: 60% !important;
    margin-top: -100px; */
  }
  .bannerHeading{
   /* padding-top: 20px;
   padding-left: 30px; */
  }
  .bannerImg{
    /* width:60% !important; */
    right: -240px !important;
   
  }
  .cardWidth{
    width: 109.4% !important;
    margin-left: 41px;

  }
  .cardType{
    font-size: 13px;
  }
  .cardHeading{
    font-size: 17px !important;
  }
  .cardSection2{
    margin-right: 365px !important;
   }
   .cardSection3{
    margin-right: 547px !important;
   }
   .cardSection4{
    margin-right: 729px !important;
   }
   .cardSection5{
    margin-right: 913px !important;
   }
 
  .imgWidth{
    width: 1121px !important;
    margin-left: 389px !important;
   }
  .brandWidth{
    /* max-width: 1250px; */
  /* border :2px solid darkblue; */
  /* margin-left: 10px; */
  }
 
 
  
  .detailsWidth{
    max-width: 1228px;
    margin-left: 335px;
  }
  .technology{
    max-width: 1256px;
    margin-left: 320.5px;
   
    
   
  }
  .footerWidth{
    width: 1145px !important;
    padding-left: 65px !important;
   
   
   
  }
  .footerText{
    margin-right: 375px !important;
    margin-left: 375px !important; 
  }
  .footerCard{
    width: 350px !important;
    height: 300px;
   
  }
  .contact{
    padding-right:245px ;
    padding-left: 235px;
  }
  .webHosting{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .dedicated{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .reseller{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
   
  